* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #ffffff;
    color: #2d2d2d;
}

header {
    background: url('tải xuống (2).jpeg') center/cover no-repeat;
    text-align: center;
    padding: 80px 20px;
    color: white;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

header p {
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
}



.right p {
    display: flex;
    align-items: center;

}

.right p i {
    font-size: 16px;
    margin-right: 9px;
}

img {
    width: 20px;
    height: 20px; 
    margin-right: 6px;
    
}


.container {
    display: flex;
    flex-wrap: wrap; 
    max-width: 1200px; 
    margin: 40px auto;
    gap: 20px;
    justify-content: center; 
}

.left, .right {
    flex: 1;
    background: rgb(236, 236, 236);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
}

.right p, .left p {
    margin-bottom: 20px;
    font-size: 20px;
}



.box {
    background: rgb(245, 245, 245);
    padding: 30px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    border: 1px solid rgb(181, 181, 181); 
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.box h2 {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 16px;
}

h2 {
    font-family: Helvetica;
}

p {
    line-height: 1.6; 
    font-size: larger;
}

ul {
    list-style: none;
    color: rgb(62, 62, 62);
}

ul li {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    margin-bottom: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #f4f4f4;
    margin-top: 40px;
}

.btn-download {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-download:hover {
    background: #0056b3;
}
.social-links {
    margin-top: 10px;
}

.btn-social {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-social.fb {
    background: #1877F2; 
}

.btn-social.gh {
    background: #333; 
}

.btn-social:hover {
    opacity: 0.8;
}
.cv-preview {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 40px;
}

.cv-preview img {
    width:100%;
    max-width: 500px; 
    display: block; 
    object-fit: contain;
}
